[submodule "server/flex/plugins/plugin-conversations-transfer-interaction"]
	path = server/flex/plugins/plugin-conversations-transfer-interaction
	url = https://github.com/TwilioLatamEngHub/plugin-conversations-transfer-interaction.git
