[submodule "server/flex/flex-plugins/plugin-conversations-transfer-interaction"]
	path = server/flex/flex-plugins/plugin-conversations-transfer-interaction
	url = git://github.com/TwilioLatamEngHub/plugin-conversations-transfer-interaction
[submodule "server/flex/flex-plugins/plugin-flex-localization"]
	path = server/flex/flex-plugins/plugin-flex-localization
	url = git://github.com/twilio-professional-services/plugin-flex-localization
[submodule "server/flex/flex-plugins/plugin-conversations-park-an-interaction"]
	path = server/flex/flex-plugins/plugin-conversations-park-an-interaction
	url = git://github.com/TwilioLatamEngHub/plugin-conversations-park-an-interaction
[submodule "server/flex/plugin-conversations-transfer-interaction"]
	path = server/flex/plugin-conversations-transfer-interaction
	url = https://github.com/TwilioLatamEngHub/plugin-conversations-transfer-interaction
[submodule "server/flex/plugins/plugin-conversations-transfer-interaction"]
	path = server/flex/plugins/plugin-conversations-transfer-interaction
	url = https://github.com/TwilioLatamEngHub/plugin-conversations-transfer-interaction
